<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link type="text/css" rel="styleSheet" href="font.css"/>
    <link type="text/css" rel="styleSheet" href="furniture_set.css"/>
    <title>template</title>
</head>
<body>
    <div id="template">
        <div class="furni-set">
            <div class="arknights-logo"></div>
            <div class="arknights-title">明日方舟家具套装展示</div>
        </div>
        
        <div class="furni-set-sep">家具套装</div>

        <div class="furni-set">
            <div class="furni-set-text">
                <div class="furni-set-title">家具套装：{{ data.name }}</div>
                <div class="furni-set-info" v-html="description(data.description)"></div>
            </div>
            <div class="furni-set-image">
                <img :src="`../../../${data.image}`"
                     :alt="data.id"
                     onerror="hideImage(this)">
            </div>
        </div>
        <div class="furni-set-sep">单件展示</div>
    
        <div v-for="furni in data.funitures">
            <div class="furni-box">
                <div class="furni-text">
                    <div>
                        <div class="furni-title">{{ furni.name }}</div>
                        <div class="furni-comfort">舒适度：{{ furni.comfort }}</div>
                    </div>
                    <div class="furni-desc">{{ furni.description }}</div>
                </div>
                <div class="furni-image">
                    <img :src="`../../../${furni.image}`"
                         :alt="furni.id"
                         onerror="hideImage(this)">
                </div>
            </div></div>
        </div>
    </div>
</body>
<script src="js/vue.min.js"></script>
<script>
    function hideImage(e) {
        e.style.display = 'none'
    }

    const template = new Vue({
        el: '#template',
        computed: {
        },
        methods: {
            init(data) {
                this.$set(this, 'data', data)
            },
            description(text) {
                return text.replace(/<@lv.fs>/g, '').replace(/<@lv.item>/g, '').split('\\n').join('<br>')
            },
        },
        data() {
            return {
                data: {},
            }
        },
        mounted() {
            window.init = this.init
        }
    })
</script>
</html>
